In [32]:
n = 7

numbers = list(range(1, n+1))
for i in range(1, n+1):
  slice = numbers[:i]
  slice = list(map(str, slice))
  print(','.join(slice))

1
1,2
1,2,3
1,2,3,4
1,2,3,4,5
1,2,3,4,5,6
1,2,3,4,5,6,7

In [38]:
n = 5

numbers = list(range(1, n+1))
for i in range(1, n):
  slice = numbers[:-i]
  slice = list(map(str, slice))
  print(','.join(slice))

1,2,3,4
1,2,3
1,2
1

In [42]:
n = 5

numbers = list(range(1, n+1))

for i in range(1, n+1):
  slice = numbers[:i]
  slice = list(map(str, slice))
  print(','.join(slice))

for i in range(1, n):
  slice = numbers[:-i]
  slice = list(map(str, slice))
  print(','.join(slice))

1
1,2
1,2,3
1,2,3,4
1,2,3,4,5
1,2,3,4
1,2,3
1,2
1

In [30]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers = list(map(str, numbers))
','.join(numbers)

'1,2,3,4,5,6,7'

In [26]:
n = 10

numbers = []
for i in range(1, n+1):
  numbers.append(str(i))

numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [27]:
numbers = [str(i) for i in range(1, n+1)]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [29]:
list(range(1, n+1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# W4 GRPA 1

In [44]:
sentence = 'sachin is an indian cricketer'
word = 'sachin'

word in sentence
sentence.count(word)

True

1

In [45]:
sentence = 'sachin is an indian cricketer'
word = 'sachin'

if word in sentence:
  print('YES')
  print(sentence.count(word))
else:
  print('NO')

YES
1

In [21]:
marks = [60, 10, 30, 40, 20, 50]

# marks = sorted(marks) # not allowed in OPPE üö´
# marks.sort() # not allowed in OPPE üö´

# marks = marks.copy() # not allowed in OPPE üö´
# marks = list(marks)  # not allowed in OPPE üö´
marks = marks[:]  # this will always work ‚úåÔ∏è
marks.sort()

n = len(marks)
if n % 2 == 1:
  i1 = (n-1)//2
  median = marks[i1]
else:
  i1 = (n-1)//2
  i2 = (n-1)//2 + 1
  median = (marks[i1] + marks[i2])/2

n, median

(6, 35.0)

In [11]:
L = [1, 2, 3, 4]
n = len(L)

n
(n-1)//2
(n-1)//2 + 1

4

1

2

In [23]:
w1 = 'apple'
w2 = 'zebra'

w1 < w2

True

In [27]:
L = [1, 2, 3, 4, 11, 23, 4, 99]
max_L = max(L)
min_L = min(L)
print(max_L - min_L)

98

In [28]:
L = [1, 2, 3, 4, 11, 23, 4, 99]

max_L = L[0]
for x in L:
  if x > max_L:
    max_L = x

print(max_L)

99

In [29]:
L = [1, 2, 3, 4, 11, 23, 4, 99]

min_L = L[0]
for x in L:
  if x < min_L:
    min_L = x

print(min_L)

1

In [39]:
n = 6

factors = []
for i in range(1, n):
  if 6 % i == 0:
    factors.append(i)

print(sum(factors) == n)

True

In [45]:
letter1 = 'z'
letter2 = 'a'

abs(ord(letter1) - ord(letter2))

25

In [47]:
word1 = 'dog'
word2 = 'cat'

for letter1 in word1:
  for letter2 in word2:
    print(letter1, letter2)
    # dist = abs(ord(letter1) - ord(letter2))
    # print(dist)

d c
d a
d t
o c
o a
o t
g c
g a
g t

In [54]:
word1 = 'dog'
word2 = 'cat'

n = len(word1)
dist_sum = 0
for i in range(n):
  letter1 = word1[i]
  letter2 = word2[i]
  dist = abs(ord(letter1) - ord(letter2))
  dist_sum += dist

print(dist_sum)

28

4 9 2 | 15 <- üö®
3 5 7 | 15
8 1 6 | 15
------
15, 15, 15

diag 1: 4,5,6 -> 15 <- üö®
diag 2: 2,5,8 -> 15

rows #3, cols #3, diags #2 (n + n + 2 values; n = size of mat)

15 == 15 == 15 == ... == 15 for all 2n + 2 values: it's a magic sq.

In [58]:
matrix = [
    [4, 9, 2],
    [3, 5, 7],
    [8, 1, 6],
]

row_sums = [sum(row) for row in matrix]

print(row_sums)

[15, 15, 15]

In [70]:
n = 3
matrix = [
    [4, 9, 2],
    [3, 5, 7],
    [8, 1, 6],
]

col_sums = []
for j in range(n):
  j_col = [row[j] for row in matrix]
  col_sums.append(sum(j_col))

col_sums

[15, 15, 15]

In [73]:
n = 3
matrix = [
    [4, 9, 2],
    [3, 5, 7],
    [8, 1, 6],
]

diag_1 = []
for i in range(n):
  for j in range(n):
    if i == j:
      diag_1.append(matrix[i][j])

diag_1
sum(diag_1)

[4, 5, 6]

15

In [83]:
n = 3
matrix = [
    [4, 9, 2],
    [3, 5, 7],
    [8, 1, 6],
]

diag_2 = []
for i in range(n):
  for j in range(n):
    j_off = (n-1) - i
    if j == j_off:
      diag_2.append(matrix[i][j])

print(diag_2)

# i=0, j=2
# i=1, j=1
# i=2, j=0

[2, 5, 8]

In [81]:
n = 5

for i in range(5):
  for j in range(5):
    j_off = (n-1) - i
    if j_off == j:
      print(f'{i=}, {j=}, {j_off=}')

# if j == j offset:
  # then i, j is part of diag 2

# i (j == j offset) -> diag 2 elem

# 0 4 (j offset: 4-i = 4)
# 1 3 (j offset: 4-i = 3)
# 2 2 (j offset: 4-i = 2)
# 3 1 (j offset: 4-i = 1)
# 4 0 (j offset: 4-i = 0)

i=0, j=4, j_off=4
i=1, j=3, j_off=3
i=2, j=2, j_off=2
i=3, j=1, j_off=1
i=4, j=0, j_off=0

In [86]:
row_sums  # n values
col_sums  # n values
d1_sum = sum(diag_1)  # 1 value
d2_sum = sum(diag_2)  # 1 value

d1_sum
d2_sum

[15, 15, 15]

[15, 15, 15]

15

15

In [89]:
row_sums == col_sums
d1_sum == d2_sum
d1_sum == row_sums[0]

True

True

True

In [96]:
num_rows = 2
num_cols = 3
matrix = [
    [1, 2, 3],
    [4, 5, 6],
]

# transpose = [col0, col1, col2, ... col(n)]
transpose = []

for j in range(num_cols):
  j_col = [row[j] for row in matrix]
  transpose.append(j_col)

transpose

[[1, 4], [2, 5], [3, 6]]